/*
|--------------------------------------------------
| Colors
|--------------------------------------------------
*/
$white: #ffffff;

$blue: #006dc8;

$gray: #c1c1c1;

$green: #1ed757;

$red: #eb2900;

$light-red: #e26a73;

$orange: #ff931e;

$yellow: #e6e550;

$mautim: #62269e;

$bgTim: #965ed1;

$primary: $blue;
$secondary: #00b9a7;
$warning: #e23b3b;